<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Add connection string to your database" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v8.0" sku=".NET,Version=v8.0" />
	</startup>
</configuration>
